@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Libre+Baskerville:ital@1&display=swap');



body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOC-Ek4pcp5Epg9Qh1CAdTGLrlIW6LS88Ojw&usqp=CAU");
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: center;

border-radius: 30px; }
    
    .txt { 
   

font-weight: 900 ;
color :rgb(0, 0, 0) ;
text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
font-family: 'Cinzel', serif;
font-size: large;
}

h1 {
    background-color: rgb(123, 116, 134);
    border-radius: 30px;
    background: rgba(3, 172, 240, 0.5);

}

.author {
    font-size: xx-large;
    background-color: rgb(123, 116, 134);
    border-radius: 30px;
    background: rgba(3, 172, 240, 0.5);


}
    